<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <a href="/myfridge/<%=user.profile._id%>" class="m-1 btn btn-outline-warning"> << </a>
  <div class="container-lg pb-3">
    <div class="row">
      <div class="col-lg-8">
      <div class="row">
      <div class="col">
        <div class="card shadow p-3 mx-auto bg-body rounded" style="width: 26rem;">
          <div style="height: 25rem;">
          </div>
        <div style="height: 15rem;">
          <a class="btn btn-outline-primary" href="/myfridge/<%= Profile._id %>/freezer ">Look into my Freezer</a>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card shadow p-3 mx-auto bg-body rounded">

          <div id='firdgeBody' style="height: 40rem;">
            <div class="accordion" id="accordionExample">
            <% Profile.fridgeFood.forEach((food, index) => { %> 
              <%  if(index==0){ %>                 
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button <%= food._id %> name='<%= food.name %>' class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <%= food.name +" - "+food.freshness %>%
                      <progress  max="100" value='<%= food.freshness %>'></progress><div class="accordion-item">
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      
                      <strong>Servings: </strong> <%= food.servings %> <br>
                      <strong>Purchased date: </strong> <%= food.purchaseDate.toLocaleDateString() %> <br>
                      <strong>Typical Fridge Storage Time: </strong> <%= (food.fridgeM==0? "": food.fridgeM + " Month ") + (food.fridgeW==0? "": food.fridgeW + " Week ") + (food.fridgeD==0? "": food.fridgeD + " Days")%> <br>
                      <div class="row mt-3">
                        <div class="col-6">
                           <form action="/myfridge/<%=Profile._id%>/fridge?_method=DELETE" method="POST">
                            <input type="string" name='id' value='<%= food._id %>' hidden>
                              <button class="btn btn-outline-danger">X</button>
                            </form>
                        </div>
                        <div class="col">
                          <form action="/myfridge/<%=Profile._id%>/search" method="POST">
                            <input type="string" name='search' value='<%= food.name %>' hidden>
                            <button type='submit'class="btn btn-outline-primary">Search</button>
                        </form>
                        </div>
                        <div class="col">
                          <form action="/myfridge/<%= Profile._id %>/fridge/edit" method="GET">
                            <input type="string" name='id' value='<%= food._id %>' hidden>
                              <button class="btn btn-outline-primary">Edit</button>
                            </form>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <% } else { %> 
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button id='<%= food._id %>' name='<%= food.name %>' class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target='#text_<%=index%>' aria-expanded="true" aria-controls="collapseTwo">
                        <%= food.name +" - "+food.freshness %>%
                        <progress  max="100" value='<%= food.freshness %>'></progress><div class="accordion-item">
                      </button>
                    </h2>
                    <div id='text_<%=index%>' class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>Servings: </strong> <%= food.servings %> <br>
                        <strong>Purchased date: </strong> <%= food.purchaseDate.toLocaleDateString() %> <br>
                        <strong>Typical Fridge Storage Time: </strong> <%= (food.fridgeM==0? "": food.fridgeM + " Month ") + (food.fridgeW==0? "": food.fridgeW + " Week ") + (food.fridgeD==0? "": food.fridgeD + " Days")%> <br>
                      <div class="row mt-3">
                        <div class="col-6">
                          <form action="/myfridge/<%=Profile._id%>/fridge?_method=DELETE" method="POST">
                            <input type="string" name='id' value='<%= food._id %>' hidden>
                              <button class="btn btn-outline-danger">X</button>
                            </form>
                        </div>
                        <div class="col">
                          <form action="/myfridge/<%=Profile._id%>/search" method="POST">
                            <input type="string" name='search' value='<%= food.name %>' hidden>
                            <button type='submit'class="btn btn-outline-primary">Search</button>
                        </form>
                        </div>
                        <div class="col">
                          <form action="/myfridge/<%= Profile._id %>/fridge/edit" method="GET">
                            <input type="string" name='id' value='<%= food._id %>' hidden>
                              <button class="btn btn-outline-primary">Edit</button>
                            </form>                        
                          </div>
                      </div>  
                    </div>
                    </div>
                  </div>
                  <%}%> 
                
            <% }) %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div>

  <div class="card shadow p-3 mx-auto bg-body rounded">
    <div style="height: 20rem;">
      <form action="/myfridge/<%=Profile._id%>/search" method="POST">
        <input type="string" name='search' value='lettuce' hidden>
        <button type='submit'>Search</button>
    </form>
    <div><%= result[0].recipe.label%> </div>
  </div>
</div>
</div>
</div>
</div>

</main>

<script src="/javascripts/showRecipe.js"></script>
<%- include('../partials/footer') %>