<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="container-lg py-3">
    My Fridge
    <div class="card shadow p-3 mx-auto bg-body rounded" style="width: 26rem;">
      <div class="row">
          <a href="/myfridge/<%= Profile._id %>/fridge ">Look into my Fridge</a>
      </div>
      <div class="row">
        <a href="/myfridge/<%= Profile._id %>/freezer ">Look into my Freezer</a>
      </div>
      <div class="row">
        <a href="/myfridge/<%= Profile._id %>/list ">Look into my List</a>
      </div>
    </div>
  </div>

</main>

<%- include('../partials/footer') %>
