<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="container-lg py-3">
    <div 
      class="row">
<div class="col-md-5">
  <div class="card shadow p-3 mx-auto bg-body rounded" style="width: 22rem;">
    <div style="height: 25rem;">
        <a class="btn btn-outline-primary" href="/myfridge/<%= Profile._id %>/fridge ">Look into my Fridge</a>
    </div>
    <div style="height: 15rem;">
      <a class="btn btn-outline-primary" href="/myfridge/<%= Profile._id %>/freezer ">Look into my Freezer</a>
    </div>
  </div>

</div>

<div class="col-md-2">
  <div class="card shadow p-3 mx-auto bg-body rounded"></div>
</div>
<div class="col-md-1"></div>

<div class="col-md-4">
  <div>
    <div class="card shadow p-3 mx-auto bg-body rounded">
      <div style="height: 20rem;">
        <h6 class="text-center">My Shopping List</h6>
        <table class="table my-3" id="list">
          <thead >
            <tr>
              <th>ITEM</th>
              <th>FRIDGE TIME</th>
              <th>FREEZER TIME</th>
              <th>SERVINGS</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% Profile.list[Profile.list.length-1].food.forEach((food) => {  %>
              <tr>
                <td><%= food.name %></td>
              <td><%= (food.fridgeM==0? "": food.fridgeM + " Month ") + (food.fridgeW==0? "": food.fridgeW + " Week ") + (food.fridgeD==0? "": food.fridgeD + " Days")%></td>
              <td><%= (food.freezeM==0? "": food.freezeM + " Month ") + (food.freezeW==0? "": food.freezeW + " Week ") + (food.freezeD==0? "": food.freezeD + " Days")%></td>
              <td><%= food.servings %></td>
              <td>
                <!-- <form action="/food/<%= food._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-outline-danger">X</button>
                </form> -->
              </td>
        
            </tr>
            <% }) %>
          </tbody>
        </table>
        
        <a class="btn btn-outline-primary m-3" href="/myfridge/<%= Profile._id %>/list ">Look into my List</a>
      </div>
    </div>
    <div class="card shadow p-3 mx-auto mt-5 bg-body rounded">
      <div style="height: 15rem;">
        <p class="text-center">Previous Shopping List</p>
      </div>
    </div>
  </div>
  
</div>

      
    
    </div>


  </div>

</main>

<%- include('../partials/footer') %>
