<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="container-lg py-3">
    
    <h6 class="text-center">My Shopping List</h6>
    <a href="/myfridge/<%=user.profile._id%>" class="m-3 btn btn-outline-warning">Back to My Fridge</a>
    <div class="card shadow p-5 mx-auto bg-body rounded" >
      
<!-- <p><%= profile.list[profile.list.length-1].food %> </p> -->

<table class="table my-3" id="list">
  <thead >
    <tr>
      <th>FRIDGE</th>
      <th>FREEZER</th>
      <th>SERVINGS</th>
      <th>ITEM</th>
      <th>FRIDGE TIME</th>
      <th>FREEZER TIME</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% profile.list[profile.list.length-1].food.forEach((food) => {  %>
      <tr>
      <form class="shopListForms"action="/myfridge/<%= profile._id %>/myfood" method="POST">
      <td style="width: 3rem;"><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="true" aria-label="..." name="inFridge"></td>
      <td style="width: 3rem;"><input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="true" aria-label="..." name="inFreezer"></td>
      <td style="width: 3rem;"><input type="number" class="form-control"  value="<%= food.servings %>" placeholder="1" name="servings"></td>
      <td><input type="String" class="form-control"  value="<%= food.name %>" name="name" hidden><%= food.name %> </td>
      <td> <%= (food.fridgeM==0? "": food.fridgeM + " Month ") + (food.fridgeW==0? "": food.fridgeW + " Week ") + (food.fridgeD==0? "": food.fridgeD + " Days")%> </td>
      <td> <%= (food.freezeM==0? "": food.freezeM + " Month ") + (food.freezeW==0? "": food.freezeW + " Week ") + (food.freezeD==0? "": food.freezeD + " Days")%></td>
      <td>
        <input type="String" class="form-control"  value="<%= food._id %>" name="foodId" hidden>
        <!-- <input type="Date" class="purchaseDate" name="purchaseDate"   id="purchaseDate" > -->
        <input type="number" class="form-control"  value="<%= food.fridgeM %>" name="fridgeM" hidden>
        <input type="number" class="form-control"  value="<%= food.fridgeW %>" name="fridgeW" hidden>
        <input type="number" class="form-control"  value="<%= food.fridgeD %>" name="fridgeD" hidden>
        <input type="number" class="form-control"  value="<%= food.freezeM %>" name="freezeM" hidden>
        <input type="number" class="form-control"  value="<%= food.freezeW %>" name="freezeW" hidden>
        <input type="number" class="form-control"  value="<%= food.freezeD %>" name="freezeD" hidden>
        <button class="btn btn-outline-warning" type="submit">Submit</button>

      </form>
      </td>
      <td> 
          <form action="/food/<%= food._id %>/addtolist?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger">X</button>
          </form>
      </td>

    </tr>
    <% }) %>
  </tbody>
</table>

<button class="btn btn-outline-warning" id="submitForms">Submit</button>

        
  </div>

  </div>

</main>

<script>

  // var today = new Date();
  
  // var dateNow = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
  // const purchaseDates = document.getElementsByClassName("purchaseDate")
  // console.log(purchaseDates)
  // purchaseDates.forEach(el => {
  //   el.value = dateNow
  // });
  // console.log(document.getElementsByClassName("purchaseDate").value)
</script>
<script src="/javascripts/submitList.js"></script>

<%- include('../partials/footer') %>