<%- include('../partials/html-head') %>
<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body class="subPage">
<%- include('../partials/nav') %>


<main>
  <div class="container-lg py-3">

    <h6>Food Show Page</h6>
    <div class="card shadow p-3 mx-auto bg-body rounded" style="width: 22rem;">
      <% if (user) { %>
      <div class="row">
        <div class="col-9">
           <!-- <form action="/food/<%= food._id %>?_method=DELETE" method="POST">
              <button class="btn btn-outline-warning">X</button>
            </form> -->
            <a href="/food" class=" btn-3d" id='btn-back'><span><<</span>  </a>
        </div>
        <div class="col">
          <a class="btn-3d" href="/food/<%= food._id %>/edit"><span>Edit</span></a>
        </div>
      </div>
      <% } %>

      <img src="<%= food.img %> " class="card-img-top" alt="Placeholder Img">
      <div class="card-body">
        <h5 class="card-title text-center"><%= food.name  %> </h5>
        <p class="mb-0 text-center">Fridge Time:</p>
        <p class="mb-1 text-center"><%= (food.fridgeM==0? "": food.fridgeM + " Month ") + (food.fridgeW==0? "": food.fridgeW + " Week ") + (food.fridgeD==0? "": food.fridgeD + " Days")%></p>
        <p class="mb-0 text-center">Freeze Time:</p>
        <p class="mb-3 text-center"><%= (food.freezeM==0? "": food.freezeM + " Month ") + (food.freezeW==0? "": food.freezeW + " Week ") + (food.freezeD==0? "": food.freezeD + " Days")%></p>
      </div>
        <% if (user) { %>
          <a class="btn-3d m-3 mx-5 text-center" href="/food/<%= food._id %>/addtolist" >
            <span>Add to My Shopping List</span> </a>
            <% } %>
  </div>
  </div>
</main>


<%- include('../partials/footer') %>
